# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
plugins/cordova-plugin-console
plugins/cordova-plugin-device
plugins/cordova-plugin-splashscreen
plugins/cordova-plugin-statusbar
plugins/cordova-plugin-whitelist
plugins/fetch.json
plugins/ionic-plugin-keyboard
